<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!-- CSS Section -->
    <link rel="stylesheet" href="./Content/app.css">
    <link rel="stylesheet" href="./bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./@fortawesome/fontawesome-free/css/all.min.css">
</head>
<body style="background-color:azure; color:indigo; font-family:Verdana;">
<div style="width:980px; margin-left:auto; margin-right:auto;">
<header>
<h1  style="font family:bloom class="display-4"><strong>About Me!</strong></h1>
<hr style="border-style:solid;border-color:maroon;border-width:2px;">
<br>
<br>
</header>
<main>

<img src="\Assets\images\me.png" alt="me" width="300" height="500" style="float:right;">
<p><i>My name is <strong>Jasmeet Kaur</strong> and I am currently studying in semester 3 of Software Engineering Technology program in Centennial College.I am originally from India and recently moved to Canada in April 2021. I am currently living in Mississauga, Ontario.I completed my high school in India and my majors were Maths, Physics and Chemistry.I like to push limits and do my best in whatever I do. I love programming and I aspire to be a web application developer.</i></p>
<br>
<p>Please check out some of previous projects in <strong><i>Projects</i></strong> page.</p>
<hr style="border-style:solid;border-color:maroon;border-width:2px;">
</div>
</body>
</html>