<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!-- CSS Section -->
    <link rel="stylesheet" href="./Content/app.css">
    <link rel="stylesheet" href="./bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./@fortawesome/fontawesome-free/css/all.min.css">
</head>
<body style="background-color:azure; color:indigo; font-family:Verdana;">
<div style="width:980px; margin-left:auto; margin-right:auto;">
<header>
<h1  style="font family:bloom class="display-4"><strong>How to Contact me? <i class ="fas fa-phone"></i></strong></h1>
<hr style="border-style:solid;border-color:maroon;border-width:2px;">
<br>
<br>
</header>
<main>

<p><i><strong>Feel free to contact me through any of the following ways:</strong></i></p>
<br>
<img src="\Assets\images\insta.jpg" <a href="https://instagram.com/jasmeeet_dhaliwal"></a> alt="instagram" width="100" height="100" style="float:left;">
<br>
<br>
<br>
<br>
<br>
<br>
<p><strong> Thank you for viewing my Portfolio site!</strong></p>
<hr style="border-style:solid;border-color:maroon;border-width:2px;">
</div>
</body>
</html>