<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!-- CSS Section -->
    <link rel="stylesheet" href="./Content/app.css">
    <link rel="stylesheet" href="./bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./@fortawesome/fontawesome-free/css/all.min.css">
</head>
<body style="background-color:lightblue; color:black; font-family:Verdana;">
<div style="width:980px; margin-left:auto; margin-right:auto;">
<header>
<h1  style="font family:copperplate class="display-4">Welcome to my <strong>Personal Portfolio</strong> site!!</h1>
<hr style="border-style:solid;border-color:maroon;border-width:2px;">
<br>
<br>
</header>
<main>
<p>I am a student in the <b style="color:purple; font-family:Lucida Handwriting"> Software Engineering Technology</b> program at Centennial College.</p>
<p>Previously I studied at MGN Public School in Punjab,India.</p>
<p>One of my favourite quotes is:</p>
<blockquote>
<i> A flower does not think of competing with the flower next to it. It just blooms."</i>
<br>~~~Zen Shin~~~
<p>Some of my favourite things to do are:-</p>
<ul>
<li> Reading books </li>
<li> Cycling </li>
<li> Watching Movies </li>
<li> Listening Music </li>
<li> Drawing </li>
<li> Watching Documentaries </li>
</ul>
My most favourite among all of the above is <b style="font-family:Lucida Handwriting">painting</b> because colors in some way reflect our thoughts and emotions very well.
I think what's so interesting about painting is that you have no idea how harmonized colors can become until you actually try.
</main>
<hr style="border-style:solid;border-color:maroon;border-width:2px;">
<footer>
<h6> &copy;&nbsp;Copyright Jasmeet Kaur - Student# 301166458 - COMP 213 - Winter 2021 </h6>
</footer>
<hr style="border-style:solid;border-color:maroon;border-width:2px;">
</div>
</body>
</html>