<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!-- CSS Section -->
    <link rel="stylesheet" href="./Content/app.css">
    <link rel="stylesheet" href="./bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./@fortawesome/fontawesome-free/css/all.min.css">
</head>
<body style="background-color:LavendarBlush; color:DarkRed; font-family:Verdana;">
<div style="width:980px; margin-left:auto; margin-right:auto;">
<header>
<h1  style="font family:bloom class="display-4">Services Offered by me</h1>
<hr style="border-style:solid;border-color:maroon;border-width:2px;">
<br>
<br>
</header>
<main>
<p></p>
<p><i><strong>I can help you in:</strong></i></p>
<ul>
<li> <strong>Developing websites</strong><br><img src="\Assets\images\web.jpg" alt="web" width="200" height="150"></li>
<li> Anything related to c#, java-programming, python, javascript, typescript </li>
<li> Graphic designing </li>
</ul>
<hr style="border-style:solid;border-color:maroon;border-width:2px;">
</div>
</body>
</html>