<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!-- CSS Section -->
    <link rel="stylesheet" href="./Content/app.css">
    <link rel="stylesheet" href="./bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./@fortawesome/fontawesome-free/css/all.min.css">
</head>
<body>
    <!-- Main Navigation Section -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class ="fas fa-chess-rook"></i>My Port Folio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

      <% if (title == "Home" ) { %>
      <li class="nav-item active">
      <% } else { %>
      <li class ="nav-item">
      <% } %>
          <a class="nav-link" href="/home"><i class ="fas fa-home"></i>Home</a>
        </li>

        <% if (title == "About Me" ) { %>
      <li class="nav-item active">
      <% } else { %>
      <li class ="nav-item">
      <% } %>
          <a class="nav-link" href="/about"><i class ="fas fa-info"></i>About</a>
        </li>

       <% if (title == "Projects" ) { %>
      <li class="nav-item active">
      <% } else { %>
      <li class ="nav-item">
      <% } %>
          <a class="nav-link" href="/projects"><i class ="fas fa-cog"></i>Projects</a>
        </li>

        <% if (title == "Services" ) { %>
      <li class="nav-item active">
      <% } else { %>
      <li class ="nav-item">
      <% } %>
          <a class="nav-link" href="/services"><i class ="fas fa-map"></i>Services</a>
        </li>

        <% if (title == "Contact Me" ) { %>
      <li class="nav-item active">
      <% } else { %>
      <li class ="nav-item">
      <% } %>
          <a class="nav-link" href="/contact"><i class ="fas fa-phone"></i>Contact Me</a>
        </li>
          
        
      </ul>
      
    </div>
  </div>
</nav>

<!-- Main Content Section -->

<main class ="container">
<div class ="jumbotron">
<h1 class="display-4">Welcome to the <strong><%= title %></strong> page</h1>
</div>
</main>

<!-- Bottom Nav -->

<footer>
<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <div class="container-fluid">
    <h6 colour="white" class="display-6">&copy; Copyright 2021. All Rights reserved.</h6>
  </div>
</nav>
</footer>

<!-- JavaScript Section -->
    <script src="./jquery/dist/jquery.min.js"></script>
    <script src="./bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./@fortawesome/fontawesome-free/js/all.min.js"></script>

    <script src="./Scripts/app.js"></script>
</body>
</html>

