<!-- Bottom Nav -->

<footer>
<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <div class="container-fluid">
    <h8 class="display-8 navbar-text">&copy; Copyright 2021. All Rights reserved.</h8>
  </div>
</nav>
</footer>