<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!-- CSS Section -->
    <link rel="stylesheet" href="./Content/app.css">
    <link rel="stylesheet" href="./bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./@fortawesome/fontawesome-free/css/all.min.css">
</head>
<body style="background-color:LavendarBlush; color:DarkRed; font-family:Verdana;">
<div style="width:980px; margin-left:auto; margin-right:auto;">
<header>
<h1  style="font family:bloom class="display-4">Welcome to my <strong>Personal Portfolio</strong> site!!</h1>
<hr style="border-style:solid;border-color:maroon;border-width:2px;">
<br>
<br>
</header>
<main>
<p></p>
<p><i>This site will take you on a trip to the following sections:</i></p>
<p><i>The <a href="/about"><strong><i>About</i></strong></a> page : Contains information about who I am.</i></p>
<p><i>The <a href="/projects"><strong><i>Projects</i></strong></a> page : Contains some of my previous projects.</i></p>
<p><i>The <a href="/services"><strong><i>Services</i></strong></a> page : Contains information about the services that I offer</i></p>
<p><i>The <a href="/contact"><strong><i>Contact Me</i></strong></a> page : Contains information about how you can contact me</i></p>
<br>
<p> <strong><i>Go ahead and explore my Portfolio!</i></strong></p>
<hr style="border-style:solid;border-color:maroon;border-width:2px;">
</div>
</body>
</html>